/* Smooth scrolling behavior for the entire website */
html {
    scroll-behavior: smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 19px;
    height: 11px;
}

::-webkit-scrollbar-track {
    background: var(--theme);
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--theme);
    border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

/* Respect user's preference for reduced motion */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* For Firefox */
.custom-scroll, 
body {
  scrollbar-width: thin; /* or 'auto' */
  scrollbar-color: var(--tertiary) var(--theme); /* thumb color, track color */
} 