{{- /* Head custom content area start */ -}}
<script type='text/javascript' src='https://app.cookieyes.com/mAsBCNFb37oPK_4XJgj7kpxbljvjKgiPcLeSeiRyslQSWcJQA0P7w_nb-e_NfuwZCdsSDi_gh_1zVLQNUSNV8A=='></script>
<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/8dbaf9037ea60d809e6f1613/script.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
{{- /* Include the GA partial AFTER CookieYes */ -}}
{{ partial "google_analytics_with_consent.html" . }}

{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /* Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}