<footer class="footer">
    {{- if site.Copyright }}
    <span>{{ site.Copyright | markdownify }}</span>
    {{- else }}
    <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a> |</span>
    {{- end }}
    
    <span class="footer-links">
        <a href="mailto:michaelbrunger@gmail.com" rel="me noopener" target="_blank">Email</a> | 
        <a href="https://linkedin.com/in/michael-brunger" rel="me noopener" target="_blank">LinkedIn</a> | 
        <a href="/terms/" rel="noopener">Terms</a> | 
        <a href="/privacy/" rel="noopener">Privacy</a>
    </span>
</footer>

<div id="back-to-top-container">
    {{ partial "back-to-top.html" . }}
</div>

{{- partial "extend_footer.html" . }}