{{- /* This is just an example snippet - you'll need to modify your actual post-single.html */ -}}

<article class="post-single">
  <header class="post-header">
    {{- /* Your existing post header code */ -}}
  </header>
  
  {{- /* Series navigation at the top */ -}}
  {{- partial "series-navigation.html" . }}
  
  <div class="post-content">
    {{- /* Your existing post content code */ -}}
  </div>
  
  {{- /* Series navigation at the bottom */ -}}
  {{- partial "series-navigation.html" . }}
  
  {{- /* Your existing post footer code */ -}}
</article>